<header class="bg-dark text-white p-3 mb-4">
  <div class="container d-flex flex-wrap align-items-center justify-content-between">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <strong>Book Library</strong>
    </a>

    <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="" class="nav-link px-2 text-white">Home</a></li>
      <li><a routerLink="books" class="nav-link px-2 text-white">Books</a></li>
      <li><a routerLink="favorites" class="nav-link px-2 text-white">Favorites</a></li>
      <li><a routerLink="book-clubs" class="nav-link px-2 text-white">BookClubs</a></li>
      <li><a routerLink="best-rated-books" class="nav-link px-2 text-white">Best Rated</a></li>
      <li><a routerLink="popular-books" class="nav-link px-2 text-white">Popular</a></li>
      <li><a routerLink="about" class="nav-link px-2 text-white">About</a></li>
      <li><a routerLink="/user/details" class="nav-link px-2 text-white">My Profile</a></li>
    </ul>

    <div>
      <div *ngIf="!isLoggedIn(); else loggedIn">
        <a routerLink="/login" class="btn btn-outline-light me-2">Login</a>
        <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
      <ng-template #loggedIn>
        <button (click)="logout()" class="btn btn-outline-danger">Logout</button>
      </ng-template>
    </div>
  </div>
</header>
