<div class="bg-dark text-white py-4">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col mb-3">
        <h5>Book Library</h5>
        <p>Your gateway to knowledge and imagination.</p>
        <p>© 2024 Book Library</p>
      </div>

      <div class="col mb-3">
        <h5>Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="/books" class="nav-link p-0 text-white">Books</a></li>
          <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-white">About</a></li>
          <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-white">Contact</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Social</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Instagram</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Contact</h5>
        <p>Email: info@booklibrary.com</p>
        <p>Phone: +123 456 789</p>
      </div>
    </footer>
  </div>
</div>
